*{
    margin: 0px;
    padding: 0px;
}
.banner{
    background-image: url(./SGP_IMAGES/banner.jpg);
    background-position:top;
    min-height : 430px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
}
.navbar{
    background-image: linear-gradient(50deg,#1c3a12  0%,  #a2b970 74%);
    color: rgb(255, 255 ,255);
    margin-top: -5px;
}
.navbar-brand{
    color: white;
    font-size: 1.5rem;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    margin-right: 10px ;
    margin-left: 10px;
    color :white;
    text-transform: uppercase;


}
.nav-link:hover{
    color : white;
}
.mainbox{
    background-position: relative;
    background-color: rgb(230, 232, 234);
    padding: 40px 10px 0px 10px;
    height : auto;
    width : 100%;
}
.innerbox{

    background-color: white;
   padding-right : 200px;
    padding-left: 200px;
}
.whatisgarlic
{
    padding-top: 20px;
}
.information a{
   
    color: rgb(133, 133, 233);
    text-decoration: none;
    
    

}
.none1{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgb(133, 133, 233);
}
.none2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-right: 5px;
    padding-right: 5px;
}
.p1{
    margin-top : 25px;
    text-align: justify;
    /* padding-right : 150px;
    padding-left: 150px; */
}
.p1 h3{
    font-size: 1.2rem;
    font-weight: 400;
}
.image{
    background-position: center;
    height : 500px;
    /* width: 600px; */
    margin-bottom: 30px;
}

.facts{
    height : 340px;
    width : 550px;
    background-color: rgb(238, 237, 238);
    margin-top: 40px;
    margin-bottom: 40px;;
}
.facts h3{
    color:rgb(115, 144, 200) ;
    font-size: 2rem;
    padding-top : 30px;
    padding-left: 30px;
    padding-right : 30px;
}
.facts p{
    color:rgb(10, 15, 24) ;
    font-size: 1.2rem;
    padding-top : 30px;
    padding-left: 30px;
    padding-right : 30px;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-self: start;


}

 

    