*{
    margin: 0px;
    padding: 0px;
}
.banner{
    background-image: url(./SGP_IMAGES/banner.jpg);
    background-position:top;
    min-height : 430px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
}
.navbar{
    background-image: linear-gradient(50deg,#1c3a12  0%,  #a2b970 74%);
    color: rgb(255, 255 ,255);
    margin-top: -5px;
}
.navbar-brand{
    color: white;
    font-size: 1.5rem;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    margin-right: 10px ;
    margin-left: 10px;
    color :white;
    text-transform: uppercase;


}
.nav-link:hover{
    color : white;
}

.dropdown-menu div{
    display: flex;
}




 .backgroundimage{
    /* background-image: url(./SGP_IMAGES/bgimage.jpg); */
   background-color: #444434; 
    width:100%;
    height:100%;
    background-position: center;
    background-attachment: fixed;
    
}


.wrapper{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    
  
}
.inner{

    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}
.imageincard{
    height:300px;
    width:500px;
    background-position: center;
    
}
.footerp{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    color: #39827E;

}
